@import url(https://fonts.googleapis.com/css?family=Exo:100, 200, 400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 400, 300);

body {
  /*  background-color: #c4dfe6 !important;
*/
  background-image: url('../bilder/8f2e7f8c.png') !important;
}

/*removes all rounded corners in bootstrap buttons*/
* {
  border-radius: 0 !important;
}

#header {
  background-color: #002c54 !important;
  color: #fff !important;
}

#velgSykkel,
#velgUtstyr,
#bestillingOversikt,
#filtrerAktiveBestillingerDiv,
#filtrerRapportTotalDiv,
#filtrerRapportAnsatteDiv {
  display: none;
}

#yttersteDiv {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 20px;
  margin: auto;
  top: 25%;
  position: relative;
  max-width: 50%;
}

#filtrerAktiveBestillingerDiv,
#filtrerRapportTotalDiv,
#filtrerRapportAnsatteDiv,
#leggTilSykkelDiv {
  margin: auto;
  position: relative;
  max-width: 65%;
  text-align: center;
}

#toggleFiltrerKnapp {
  position: relative;
}

/*positions all headings*/
h2,
h1,
h3,
h4,
h5 {
  text-align: center;
}

#loginInputDiv {
  position: relative;
  text-align: center;
  min-width: 25%;
  margin-top: 25px;
  padding: 10px;
  float: right;
  z-index: 2;
}

#inputBrukernavn {
  position: relative;
  text-align: center;
  max-height: 5%;
  max-width: 100%;
  background: transparent;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

#inputPassord {
  position: relative;
  text-align: center;
  max-height: 5%;
  max-width: 100%;
  background: transparent;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

#loginKnapp {
  position: relative;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: black;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
  max-height: 10%;
  width: 100%;
}

#loginKnapp:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  max-width: 90%;
  max-height: 90%;
}

#logo {
  height: 250px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loginDiv {
  position: relative;
  margin: auto;
  top: 20%;
  max-width: 45%;
  max-height: 370px;
  text-align: center;
}

#loginBildeDiv {
  position: relative;
  float: left;
  z-index: 2;
}

#salgStartsideKnapperDiv,
#adminStartsideKnapperDiv {
  position: relative;
  margin: auto;
  top: 20%;
  text-align: center;
}

#knapperStartside {
  position: relative;
  margin: auto;
  max-width: 50%;
  margin-bottom: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #002c54;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
  font-family: Fjalla One, sans-serif;
  font-size: 15px;
}

.btn {
  background-color: #2b616d;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: darkgrey;
  color: white;
}

.title {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}

#nyBestilling {
  position: relative;
  text-align: center;
}

#tilbake {
  position: absolute;
  left: 15px;
  top: 10%;
}

#nyKundeDiv {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#bestilling_typeInput,
#utleveringsstedInput,
#innleveringsstedInput,
#kunde_epostInput,
#utlevering_datoInput,
#utlevering_tidInput,
#innlevering_datoInput,
#innlevering_tidInput {
  max-width: 25%;
  margin: auto;
}

#kundeFornavnInput,
#kundeEtternavnInput,
#kundeEpostInput,
#kundeTlfInput {
  max-width: 34%;
  margin: auto;
}

.sykkelDiver {
  position: relative;
  display: inline-block;
  max-width: 30%;
  border: 2px solid grey;
  text-align: center;
  margin: 5px;
  padding-bottom: 5px;
  background-color: white;
}

#sykkelKnapperDiv {
  text-align: center;
  align-items: center;
}

.utstyrDiver {
  position: relative;
  display: inline-block;
  max-width: 30%;
  border: 2px solid grey;
  text-align: center;
  margin: 5px;
  padding-bottom: 5px;
  background-color: white;
}

#loggUtKnapp {
  position: absolute;
  background-color: #c4dfe6;
  top: 2%;
  right: 2%;
  color: black;
}
/*EndreBestilling tabell*/
#customers {
  font-family: 'Fjalla One', sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 10px;
  align: center;
}

#customers td,
#customers th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:nth-child(odd) {
  background-color: #ddd;
}

#customers tr:hover {
  background-color: #c4dfe6;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #002c54;
  color: white;
}
#velgSykkel,
#velgUtstyr,
#bestillingOversikt {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#sykkel,
#utstyr {
  float: left;
  width: 33.33%;
  padding: 5px;
}
::after {
  content: '';
  clear: both;
}

* {
  box-sizing: border-box;
}
::placeholder {
  font-size: 1em;
}

#ansatteDiv,
#ansatteDetailsDiv,
#lokasjonerDiv,
#lokasjonerDetailsDiv {
  position: relative;
  max-width: 45%;
  text-align: center;
  margin: auto;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

#ansatteDetailsDiv,
#lokasjonerDetailsDiv {
  border-top: 2px solid black;
  padding-bottom: 10px;
}

#ansatteDiv,
#lokasjonerDiv {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

#ansatteEditDiv,
#nyAnsattDiv,
#nyLokasjonDiv {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

#nyLokasjonAdresseInput,
#nyLokasjonPostKodeInput,
#nyLokasjonOmrådeInput {
  max-width: 34%;
  margin: auto;
}

#rapportTotalTabellDiv,
#rapportAnsatteTabellDiv {
  text-align: center;
}

.gevinstDiver {
  padding: 15px;
  border: 2px solid black;
  max-width: 30%;
  margin: auto;
  background-color: white;
}

#inputHybridHerre,
#inputHybridDame,
#inputHybridHerreBagasje,
#inputHybridDameBagasje,
#inputBarn,
#inputJunior,
#inputTerreng,
#inputElsykkel,
#inputRacer {
  float: left;
  max-width: 50%;
  margin-left: 5%;
}

.antallValgteDiver {
  float: right;
  margin-right: 5%;
  margin-top: 2.5%;
}

#innleveringYtterste {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#innleveringDiv {
  position: relative;
  width: 100%;
  border: 2px solid black;
}

#innholdIBestilling {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  width: 100vw;
}

#syklerIbestilling {
  position: relative;
  width: 45%;
  display: inline-block;
}

#utstyrIbestilling {
  position: relative;
  display: inline-block;
  width: 45%;
}

#endreInfoBestilling {
  position: relative;
  text-align: center;
}

#syklerDiv,
#utstyrDiv {
  position: relative;
  text-align: center;
}

#selectInnlevering {
  width: 80%;
  margin: auto;
  text-align: center;
}

#leverInnForm {
  position: relative;
  text-align: center;
}

.genereltInputer {
  max-width: 30%;
  margin: auto;
  text-align: center;
  text-align-last: center;
}

#nyKundeTekst {
  padding-bottom: 10px;
}
